<!DOCTYPE html>
<html>
  <head>
    <title>AlpineRailsLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-white bg-gray-900">
    <header class="border-b border-gray-800">
      <nav class="container flex items-center justify-between px-4 py-6 mx-auto">
        <div class="flex items-center">
          <a href=dashboard>
            <%= image_tag 'laracasts-logo.svg', alt: 'laracasts', class:'w-32 flex-none' %>
          </a>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
